// Colors
$mainColor: rgb(0, 104, 128);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(204, 204, 204);
$yellow: rgb(255, 205, 78);
$red: rgb(240, 58, 23);
$green: rgb(0, 128, 0);
$brown: rgb(59, 18, 18);
$shadowColor: rgba(0, 0, 0, 0.4);

// width & height
$left-side-width: 66%;
$right-side-width: 34%;
$login-form-width: 35%;
$login-form-height: 50%;
$signup-form-width: 40%;
$signup-form-height: 83%;
$input-width: 16rem;
$header-height: 4rem;

// font sizes & family
$h1-font-size: 34px;
$p-font-size: 18px;
$p-span-font-size: 22px;
$p-span-font-family: "Comic Sans MS";
$main-font-family: "Arial";
$btn-font-size: 16px;
$input-font-size: 16px;

// animations duration
$time: 1s;
